html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #FAFBFF;
}

body {
  display: flex;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 306px;
  height: 1200px;
  padding: 28px;
  background-color: #fff;

  &__burger-menu {
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__logo-block {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-bottom: 25px;
  }

  &__title-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    width: 37px;
    height: 37px;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__version {
    font-size: 10px;
    padding-bottom: 8px;
    color: #838383;
    font-weight: 500;
  }

  &__buttons {
    list-style: none;
    color: #9197B3;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    &-button {
      display: flex;
      align-items: center;
      height: 46px;
      padding: 11px;
      cursor: pointer;
      margin-top: 18px;

      &-icon {
        height: 24px;
        width: 24px;
      }

      &-text {
        padding-left: 14px;
      }

      &-pointer {
        margin-left: auto;
      }
    }
  }

  &__user-block {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 70px;

    &__icon {
      height: 42px;
      width: 42px;
      margin-right: 10px;
    }

    &__info {
      display: flex;
      flex-direction: column;

      &__role {
        font-size: 12px;
        font-weight: 400;
        color: #757575;
      }
    }
  }
}

.active {
  background-color: #5932EA;
  color: #FFF;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease, padding 0.3s ease;
}

.header__title {
  margin: 41px 0 51px 71px;
}

.content {
  display: flex;
  flex-direction: column;
}

.all-customers {
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  margin-right: 95px;
  background-color: #fff;
  border-radius: 30px;
  width: 968px;
  height: 812px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 28px;

    &-title {
      font-size: 22px;
      font-weight: 600;
    }

    &-status {
      font-weight: 400;
      color: #16C098;
    }
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 216px;
    background-color: #F9FBFF;
    border-radius: 10px;
    gap: 8px;
    margin-right: 53px;

    & .all-customers__input {
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      flex-grow: 1;
    }

    & .all-customers__input-icon {
      height: 24px;
      width: 24px;
      margin-left: 8px;
    }

    & .all-customers__input::placeholder {
      color: #B5B7C0;
      font-size: 12px;
    }
  }

  &__table {
    margin: 28px;
    position: relative;

    &-top {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      box-sizing: border-box;
      gap: 4px;
    }

    &-top::after {
      position: absolute;
      content: '';
      height: 1px;
      left: -28px;
      right: -28px;
      top: 40px;
      background-color: #EEEEEE;
    }

    &-title {
      font-size: 14px;
      color: #B5B7C0;
      text-align: left;
      padding: 7px 0;
    }

    &-row {
      position: relative;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 4px;
      box-sizing: border-box;

      &::after {
        position: absolute;
        width: 100%;
        bottom: 0;
        content: '';
        height: 1px;
        background-color: #EEEEEE;
      }
    }

    &-cell {
      line-height: 29px;
      padding: 20px 0;
      box-sizing: border-box;
      color: #292D32;
    }

    &-status {
      height: 29px;
      width: 80px;
      text-align: center;
      border-radius: 4px;

      &.status--active {
        background-color: #16C098;
        color: #008767;
        border: 1px solid #00B087;
      }

      &.status--inactive {
        background-color: #FFC5C5;
        color: #DF0404;
        border: 1px solid #DF0404;
      }
    }

    .status-cell {
      justify-self: center;
    }

    .country-cell {
      justify-self: center;
    }
  }

  &__bottom-pagitanion {
    display: flex;
    list-style: none;
    gap: 12px;
    padding-inline-start: 0;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;

    &-pages_info {
      color: #B5B7C0;
    }

    &-pagination-button {
      background-color: #F5F5F5;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
      font-size: 12px;
      color: #404B52;
      cursor: pointer;
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrow-left,
.arrow-right {
  background-color: #F5F5F5;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  color: #404B52;
  cursor: pointer;

  &:active {
    color: #fff;
    background-color: red;
  }
}

.selected {
  background-color: #5932EA;
  color: #FFF;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease, padding 0.3s ease;
}

.nav-close {
  position: absolute;
  font-size: 16px;
  width: 24px;
  height: 24px;
  right: 5px;
  top: 5px;
  text-align: center;
  display: none;
}

@media (max-width: 480px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .main_content {
    overflow: auto;
  }

  .navigation {
    min-width: 79px;
    position: relative;
    max-height: 100vh;

    .navigation-container {
      margin-left: -306px;
      visibility: hidden;
    }

    .navigation__burger-menu {
      display: block;
    }

    &__user-block {
      display: block;
      position: absolute;
      bottom: 100px;
      left: 15px;
      background-color: #fff;
      border-radius: 8px;
    }

    &.open {
      height: 100vh;
      min-width: 100vw;
      max-width: 100vw;
      box-sizing: border-box;
      overflow: auto;

      .navigation__user-block {
        display: none;
      }

      .navigation-container {
        position: absolute;
        z-index: 1;
        margin-left: 0;
        visibility: visible;
        background-color: #FFF;
      }

      .navigation__burger-menu {
        display: none;
      }

      .nav-close {
        display: block;
      }

    }

  }

  .content {
    height: 100vh;
    overflow: hidden;
    width: calc(100vw - 79px);
  }
}